<p id="notice"><%= notice %></p>

<h1>Exports</h1>

<table>
  <thead>
    <tr>
      <th>Pid</th>
      <th>Job</th>
      <th>Status</th>
      <th>Last error</th>
      <th>Last success</th>
      <th>Logfile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exports.each do |export| %>
      <tr>
        <td><%= export.pid %></td>
        <td><%= export.job %></td>
        <td><%= export.status %></td>
        <td><%= export.last_error %></td>
        <td><%= export.last_success %></td>
        <td><%= export.logfile %></td>
        <td><%= link_to 'Show', export %></td>
        <td><%= link_to 'Edit', edit_export_path(export) %></td>
        <td><%= link_to 'Destroy', export, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Export', new_export_path %>
