<p id="notice"><%= notice %></p>

<h1>Grocer Exports</h1>

<table>
  <thead>
    <tr>
      <th>Pid</th>
      <th>Job</th>
      <th>Status</th>
      <th>Last error</th>
      <th>Last success</th>
      <th>Logfile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grocer_exports.each do |grocer_export| %>
      <tr>
        <td><%= grocer_export.pid %></td>
        <td><%= grocer_export.job %></td>
        <td><%= grocer_export.status %></td>
        <td><%= grocer_export.last_error %></td>
        <td><%= grocer_export.last_success %></td>
        <td><%= grocer_export.logfile %></td>
        <td><%= link_to 'Show', grocer_export %></td>
        <td><%= link_to 'Edit', edit_export_path(grocer_export) %></td>
        <td><%= link_to 'Destroy', grocer_export, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grocer Export', new_export_path %>
