<p id="notice"><%= notice %></p>

<p>
  <strong>Pid:</strong>
  <%= @export.pid %>
</p>

<p>
  <strong>Job:</strong>
  <%= @export.job %>
</p>

<p>
  <strong>Status:</strong>
  <%= @export.status %>
</p>

<p>
  <strong>Last error:</strong>
  <%= @export.last_error %>
</p>

<p>
  <strong>Last success:</strong>
  <%= @export.last_success %>
</p>

<p>
  <strong>Logfile:</strong>
  <%= @export.logfile %>
</p>

<%= link_to 'Edit', edit_export_path(@export) %> |
<%= link_to 'Back', exports_path %>
