<!DOCTYPE html>
<html>
  <head>
    <title>Grocer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flash-message">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <%= yield %>

    <div class="footer">
      <p><%= link_to 'Log Out', destroy_user_session_path %></p>
    </div>
  </body>
</html>
